
*.xml
*.iml
*.obj
*.png
*.txt
*.mat
*.yaml
*.log
*.pyc
*.0
*.csv
*.ckpt
*.npy
*.pdb
*.idb
*.tlog
*.ilk
*.exe
GIF/GIF/.vs
GIF/GIF/x64
GIF/GIF/GIF/x64
/BCP/.idea
CompMajor/.vs
PT/.vs
./idea
/.venv
/.vs
meshes/*
output/*
